
body {
    background-image: radial-gradient(circle at 85.36% -11.24%, #daff94 0, #bfff9d 10%, #a3ffa5 20%, #84ffad 30%, #63ffb2 40%, #3cf2b5 50%, #00e3b7 60%, #00d5b8 70%, #00caba 80%, #00c1bd 90%, #00b9c1 100%);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}


a {
  
    text-decoration: none;
    display: inline-block;
    color: #0e093b;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

  h1 {
    text-align: center;
    margin-top: 40px;
    color: #0e093b;
    font-weight: bold;
} 
  
.card {
    padding: 4.5rem;
    margin: 0;
    display: flex;
}



.home {
    padding: 20px;
}
